@using System.Globalization
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>@CultureInfo.CurrentCulture</p>
<p>@CultureInfo.CurrentUICulture</p>
<p>Use this area to provide additional information.</p>
